@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

header {
  z-index: 999;
  position: fixed;
  width: 100vw;
  font-family: monospace;
  font-size: 0.9rem;
  background-color: #0a192f;
  padding: 30px 55px;
  transition: all 0.2s ease-in-out;
}

header.scrolled {
  padding: 10px 20px;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
}

header .logo {
  width: 65px;
  height: 65px;
  cursor: pointer;
}

header .menu {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  list-style: none;
  margin: 0;
}

header .menu li {
  margin-left: 1rem;
}

header .menu li .button {
  margin-left: 1.2rem;
}

header .side-menu.closed {
  position: fixed;
  transform: translateX(100vw);
  visibility: hidden;
}

header .side-menu {
  position: fixed;
  padding: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(0vw);
  visibility: visible;
  z-index: 100;
  width: 70vw;
  background-color: #112240;
}

header .side-menu li {
  margin-bottom: 30px;
  text-align: center;
  padding: 0;
}

header .side-menu li a {
  transition: all 0.2s ease-in-out !important;
}

header .side-menu li a:hover {
  color: #64ffda !important;
}

header .side-menu .button {
  margin-left: 0 !important;
}

header .menu-ham {
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
  z-index: 999;
}

header .ham-stack .ham-box-inner {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: #64ffda;
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(0deg);
}

header .ham-stack .ham-box-inner::before,
header .ham-stack .ham-box-inner::after {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: #64ffda;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

header .ham-stack .ham-box-inner::before {
  width: 120%;
  top: -10px;
  opacity: 1;
}

header .ham-stack .ham-box-inner::after {
  width: 80%;
  bottom: -10px;
  transform: rotate(0deg);
}

header .ham-close .ham-box-inner {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: #64ffda;
  transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(225deg);
}

header .ham-close .ham-box-inner::before,
header .ham-close .ham-box-inner::after {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: #64ffda;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

header .ham-close .ham-box-inner::before {
  width: 100%;
  top: 0px;
  opacity: 0;
}

header .ham-close .ham-box-inner::after {
  width: 100%;
  bottom: 0px;
  transform: rotate(-90deg);
}

.greeting {
  margin-top: 3rem;
}

.greeting .hi {
  font-family: monospace;
  color: #64ffda;
  font-size: 1rem;
}

.greeting em {
  font-style: italic;
  font-family: monospace;
}

.greeting .author-name {
  color: #ccd6f6;
}

.greeting .author-desc {
  width: 100%;
}

@media (min-width: 1024px) {
  .greeting .author-desc {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .greeting .author-desc {
    width: 70%;
  }
}

.greeting .button {
  margin: 1.2rem 0;
}

.about-me {
  position: relative;
}

.about-me .content img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
  filter: grayscale(40%);
  margin-bottom: 2rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 10px 10px #112240;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about-me .content img {
    margin-right: 2rem;
    margin-bottom: 0;
    max-width: 40%;
  }
}

@media (min-width: 1024px) {
  .about-me .content img {
    margin-right: 2rem;
    margin-bottom: 0;
    max-width: 40%;
  }
}

.about-me .content img:hover {
  filter: none;
  box-shadow: 20px 20px #112240;
}

.project .content .project-item {
  margin-bottom: 20px;
  gap: 8px;
}

.project .content .project-item>img {
  max-width: 60%;
  border-radius: 5px;
  filter: grayscale(70%);
  transition: all 0.2s ease-in-out;
  box-shadow: 10px 10px #112240;
  margin-right: 1.5rem;
}

.project .content .project-item>img:hover {
  filter: none;
  box-shadow: 20px 20px #112240;
}

.project .content .project-item em {
  font-family: monospace;
}

.project .content .project-item .name {
  font-size: 2rem;
  font-weight: 700;
  color: #ccd6f6;
}

.project .content .project-item p em {
  font: inherit;
}

.project .content .project-item .tech {
  color: inherit;
}

.project .content .project-item .link {
  margin-top: 1rem;
}

.project .content .project-item .link a {
  transition: all 0.2s ease-in-out;
  margin-left: 1rem;
}

.project .content .project-item .link a:hover {
  text-decoration: underline !important;
}

.project .content .project-item .link img {
  width: 2rem;
  height: 2rem;
  transition: all 0.2s ease-in-out;
  filter: invert(65%) sepia(5%) saturate(1636%) hue-rotate(188deg) brightness(89%) contrast(88%);
}

.project .content .project-item .link img:hover {
  filter: invert(82%) sepia(2%) saturate(3825%) hue-rotate(194deg) brightness(106%) contrast(93%);
}

.project .content #item1-md {
  position: relative;
  width: 100%;
  height: fit-content;
}

.project .content #item1-md .bg {
  background-image: url("../../img/project/item1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  filter: grayscale(19%) sepia(100%) brightness(43%) hue-rotate(240deg) saturate(324%) contrast(78%) invert(9%);
  -webkit-filter: grayscale(19%) sepia(100%) brightness(43%) hue-rotate(240deg) saturate(324%) contrast(78%) invert(9%);
  -moz-filter: grayscale(19%) sepia(100%) brightness(43%) hue-rotate(240deg) saturate(324%) contrast(78%) invert(9%);
}

.project .content #item1-md .project-desc {
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 1;
  backdrop-filter: blur(2px);
}

.project .content #item1-md .project-desc .link a {
  margin-left: 0;
  margin-right: 1rem;
}

.project .content #item2-md {
  position: relative;
  width: 100%;
  height: fit-content;
}

.project .content #item2-md .bg {
  background-image: url("https://res.cloudinary.com/du0sz12nf/image/upload/v1682561184/Personal%20Stubs/Personal_Branding_lg08c6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  filter: grayscale(19%) sepia(100%) brightness(43%) hue-rotate(240deg) saturate(324%) contrast(78%) invert(9%);
  -webkit-filter: grayscale(19%) sepia(100%) brightness(43%) hue-rotate(240deg) saturate(324%) contrast(78%) invert(9%);
  -moz-filter: grayscale(19%) sepia(100%) brightness(43%) hue-rotate(240deg) saturate(324%) contrast(78%) invert(9%);
}

.project .content #item2-md .project-desc {
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 1;
  backdrop-filter: blur(2px);
}

.project .content #item2-md .project-desc .link a {
  margin-left: 0;
  margin-right: 1rem;
}

.contact .content {
  padding: 150px 0;
}

.contact .content h1 {
  color: #ccd6f6;
  padding-inline: 100px;
}

.contact .content p {
  max-width: 45rem;
}

footer {
  padding: 20px;
}

footer .fixed-email {
  position: fixed;
  margin: 0;
  width: 300px;
  bottom: -80px;
  right: -3vw;
  transform: rotate(90deg) translateX(-200px);
  transition: all 0.2s ease-in-out;
  background-color: #0a192f !important;
}

footer .fixed-email:hover {
  color: #64ffda !important;
}

footer .fixed-email::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: 0.75rem;
  right: 0;
  width: 90px;
  height: 2px;
  margin-left: 2px;
  background-color: #64ffda;
}

html,
body {
  background-color: #0a192f !important;
  color: #8892b0 !important;
  font-size: 16px !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600 !important;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit !important;
}

a.button {
  font-family: monospace;
  color: #64ffda !important;
  padding: 0.7rem 1.5rem !important;
  background: none;
  border-color: #ccd6f6;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

a.button:hover {
  background: rgba(238, 238, 238, 0.2);
}

.numbered {
  font-family: monospace;
  font-weight: 500;
  color: #64ffda;
}

.numbered .numbered-text {
  font-weight: 700;
  color: #ccd6f6;
}

.numbered .numbered-text:hover {
  color: inherit;
}

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8892b0;
  border-radius: 20px;
  background-clip: content-box;
}

h1 {
  font-size: clamp(2rem, 7vw, 5rem) !important;
  font-weight: 900 !important;
}

h2 {
  font-size: clamp(1rem, 2vw, 1.6rem) !important;
  font-weight: 700 !important;
}

em {
  font-style: normal;
  color: #64ffda;
}

p {
  margin: 1.2rem 0 !important;
}

.mono {
  font-family: monospace;
}

.container {
  padding: 0 50px !important;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 100px !important;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 150px !important;
  }
}

.container>div {
  min-height: 100vh !important;
  max-width: 65rem !important;
  position: relative !important;
}

.container .content {
  height: 100%;
}

h2.heading {
  cursor: default;
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 2rem;
  height: 2rem;
}

h2.heading .numbered {
  padding-right: 1.2rem;
  position: absolute;
  z-index: 1;
  background-color: #0a192f !important;
}

h2.heading::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: 1.25rem;
  right: 0;
  width: 100%;
  height: 1px;
  margin-left: 20px;
  background-color: #233554;
}

/*# sourceMappingURL=index.css.map */