
// Font
$font-primary: 'Raleway', sans-serif;
$font-mono: monospace;

// Color
$c-background: #0a192f;
$c-navy: #112240;
$c-l-navy: #233554;
$c-slate: #8892b0;
$c-l-slate: #ccd6f6;
$c-l-green: #64ffda;
//Border
$b-radius: 5px;

//Logo
$logo-small: 65px;

// Text size
$f-size-normal: 16px;
$f-size-small: 0.9rem;
$f-size-subheading: clamp(1rem, 2vw, 1.6rem)!important;
$f-size-heading: clamp(2rem, 7vw, 5rem)!important;

// Transition 
$trans-ease-in-out: all 0.2s ease-in-out;