// Font
$font-primary: "Poppins";
$font-mono: monospace;

// Color
$c-background: #0a192f;
$c-navy: #112240;
$c-slate: #8892b0;
$c-light-slate: #ccd6f6;
$c-light-green: #64ffda;

//Border
$b-radius: 5px;

//Logo
$logo-small: 65px;
