
.greeting{
    .hi{
        font-family: $font-mono;
        color: $c-l-green;
        font-size: 1rem;
    }
    em{
        font-style: italic;
        font-family: $font-mono;
    }
    .author-name{
        color: $c-l-slate;
    }
    .author-desc{
        width: 100%;
        @include desktop{
            width: 70%;
        }
        @include tablet{
            width: 70%;
        }
    }
    .button{
        margin: 1.2rem 0;
    }
}