
@import "_font", "_variable", "mixin", "navbar", "greeting", "about-me", "project", "contact", "footer";

html, body{
    background-color: $c-background !important;
    color: $c-slate !important;
    font-size: $f-size-normal !important;
    font-family: $font-primary !important;
    font-weight: 600!important;
}

// A tag reset
a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit !important;
}

a.button{
    font-family: $font-mono;
    color: $c-l-green!important;
    padding: 0.7rem 1.5rem!important;
    background: none;
    border-color:$c-l-slate;
    border-radius:4px;
    border-style:solid;
    border-width:1px;
    display: inline-block;
    transition: $trans-ease-in-out;
    width: fit-content;
}

a.button:hover{
    background: rgba(238, 238, 238, .2);
}

//Text with number style
.numbered{
    font-family: $font-mono;
    font-weight: 500;
    color: $c-l-green;
    .numbered-text{
        font-weight: 700;
        color: $c-l-slate;
    }
    .numbered-text:hover{
        color: inherit;
    }
}

//Scroller custom
::-webkit-scrollbar {
    width: 0.2rem;
  }
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: $c-slate;
    border-radius: 20px;
    background-clip: content-box;
}

// Text styling
h1{
    font-size: $f-size-heading;
    font-weight: 900!important;
}
h2{
    font-size: $f-size-subheading!important;
    font-weight: 700!important;
}
em{
    font-style: normal;
    color: $c-l-green;
}
p{
    margin: 1.2rem 0!important;
}

.mono{
    font-family: $font-mono;
}

// Content style
.container{
    padding: 0 50px!important;
    @include tablet{
        padding: 0 100px!important;
    }
    @include desktop{
        padding: 0 150px!important;
    }
    & > div {
        min-height: 100vh!important;
        max-width: 65rem!important;
        position: relative!important;
    }
    .content{
        height: 100%;
    }
}

// Heading styling
h2.heading{
    cursor: default;
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 2rem;
    height: 2rem;
    .numbered{
        padding-right: 1.2rem;
        position: absolute;
        z-index: 1;
        background-color: $c-background!important;
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        top: 1.25rem;
        right: 0;
        width: 100%;
        height: 1px;
        margin-left: 20px;
        background-color: $c-l-navy;
    }
}